$(document).ready =>
  currentUser = ''
  welcomePage = $('.welcome-page')
  postPage = $('.post-page')
  newUserForm = $('#new-user-form')

  <%# when user enters a username, store it and show the post page %>
  newUserForm.on 'keyup', (event) ->
    if event.keyCode == 13 and !event.shiftKey
      currentUser = event.target.value
      newUserForm.val('')
      welcomePage.addClass('collapse')
      postPage.removeClass('collapse')
      greeting = """welcome @#{currentUser}"""
      $('.current-user').html(greeting)
      $('#username').val(currentUser)
    return

  <%# function for adding new posts to the feed %>
  updateFeed = (post) ->
    postTime = new Date(post.created_at.replace(' ', 'T')).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
    $('.posts').prepend """
      <div class="post-wrapper col-12 mb-2 p-0">
        <div class="card">
          <div class="card-header">@#{post.username}<small class="float-right mt-1">at #{postTime}</small></div>
          <div class="card-body">
            <p class="card-text">#{post.post}</p>
            <a class="far fa-thumbs-up add-like" data-remote="true" rel="nofollow" data-method="post" href="/likes/#{post.id}"></a>
            <span class="ml-2" data-post="#{post.id}">#{post.likes[0].like_count}</span>
          </div>
        </div>
      </div>
    """
    return

  <%# if the post was successfully saved, get the post and pass it to the updateFeed function %>
  $('#post-form').on 'ajax:success', (data) ->
    post = data.detail[0]
    $('#post-form')[0].reset()
    return

  <%# suscribe our Pusher client to the feed channel. Whenever there is a new post or new like, update the view with it %>
  pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',
    cluster: '<%= ENV["PUSHER_CLUSTER"] %>'
    encrypted: true)
  channel = pusher.subscribe('feed')
  channel.bind 'new-post', (data) ->
    updateFeed data
  channel.bind 'new-like', (data) ->
    <%# whenever there is a new like, find the liked post via it's "data-post" attribute then update its likes count %>
    currentPost = $ 'span[data-post=\'' + data.id + '\']'
    currentPost.text(data.likes[0].like_count)
    return
  return 